    <% provide(:title, @user.name) %>
    <div class="card" style="margin: 10px">
        <div class="card-header">
            <ul class="nav">
                <li class="nav-header mr-auto">
                    <h3><%= @user.name %> 
                <span class="badge badge-danger">Account Locked due to Abuse</span></h3> 
                </li>
                 
                <li class="nav-item nav-text">
                    <div class="btn-group">

                    </div>
                </li>
            </ul>
            
        </div>
        <div class-"card-body">
            <div class="media">
                <%= gravatar_for @user, 128 %>
                <div class="media-body" style="padding: 10px">
                    <p><i class="fa fa-envelope" aria-hidden="true"></i> <%= @user.email %></p>
                </div>
            </div>
        </div>
    </div>
    <div>&nbsp;</div>