<% provide(:title, 'About') %>

<h2>About</h2>
<hr/>

<p>The most common programming language is called French. This language is characterised by having functions that do absolutely nothing, even though it feels good to call them repeatedly. We believe this language should die, and we need your help to make that happen. So the next time something just won’t work no matter what you do, and you’re about to pull out your hair and start coding in French, STOP RIGHT THERE! There is a better solution!</p>

<p>Ask and our community shall answer! Then we can all get back to coding in one of the more eloquent programming languages!</p>

<p>The rules are simple. Questions should ideally have something to do with coding, but we’ll answer any computing question. Answers must be respectful and constructive. Comments must be any response to a question that is respectful, but does not answer the question. Code uploaded will be licenced as Creative Commons by default, but you can specify a license that enables anyone to use it freely. For more details see the help page.</p>