<% provide(:title, 'Contact') %>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h2>Contact</h2>
			<hr/>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
		        <div class="card-header"><h2 style="color:black">Admin</h2></div>
		        <div class="card-body">
		            <p><i class="fa fa-envelope" aria-hidden="true"></i> admin@openanswers.com</p>
		            <p><i class="fa fa-phone" aria-hidden="true"></i> none</p>
		        </div>
		    </div> 
		    <div>&nbsp;</div>
		</div>
	</div>
</div>