<% provide(:title, 'Help') %>
<h2>Help</h2>
<hr/>

<div class="card">
	<div class="card-header">Q: What do you hate French so much?</div>
	<div class="card-body small">A: Here at Open Answer, there are two things we can't stand: people who are intolerant of other people's languages, and French. Here's why:
		<br/>1) The programming language French was released on the 9th of September, 1947 by a team of developers consisting of Satan, Cthulu, Bill Cosby, Lilith, and L. Ron.
		<br/>2) It  was designed to look like a handy debugging language, but in fact all the language's functions do absolutely nothing.
		<br/>3) Since '47, the language has seen widespread adoption and become the most used programming language in the world.
		<br/>4) 30% of all man-hours put into coding are wasted in vain attempts to debug errors using this worthless language.
		<br/>We hate French so much that we have created this site as a functional alternative.</div>
</div>
<div>&nbsp;</div>
<div class="card">
	<div class="card-header">Q: Why can't I delete my user account?</div>
	<div class="card-body small">A: To delete your account, you must contact the administrator.</div>
</div>
<div>&nbsp;</div>

<div class="card">
	<div class="card-header">Q: Can I ask how to hack secure systems?</div>
	<div class="card-body small">A: We will assume you intend to hack a sanboxed system as an educational exercise. If you ask a hacking question, and something is traced back to you, we'll freeze your account all the way to the South Pole, that way the authorities can see it.</div>
</div>  
<div>&nbsp;</div>
<div class="card">
	<div class="card-header">Q: Can I post any code to the site?</div>
	<div class="card-body small">A: No. 1) You must have the license to post it. 2) You must choose the correct license, if it is not your code.</div>
</div>
<div> &nbsp;</div>
<div class="card">
	<div class="card-header">Q: Why can't I contact the administrator?</div>
	<div class="card-body small">A: Because we haven't implemented e-mail yet.</div>
</div>  
<div> &nbsp;</div>
<div class="card">
	<div class="card-header">Q: I heard penguins aren't really as nice as the ones in the movies or in the shiny icons.</div>
	<div class="card-body small">A: You DON'T wanna know...</div>
</div>  
<div> &nbsp;</div>
<div class="card">
	<div class="card-header">Q: This is the Prime Minister de españa! Someone just replaced mi pintura with Señor Bean! I look nothing like him, and it's not funny! You nerd people son cabrones and you should all van al infierno!</div>
	<div class="card-body small">A: We strongly condemn this act of hatred and cyberviolence, and we do not support it. This heinous act was done by a small group of extremists called Anonymous, or maybe it was the Lambda Lambda Lambdas. We don't really care. The actions of a tiny group do not reflect on nerds as a whole. 
	<span style="color:blue">#NotAllNerds</span> We swear, we totally don't find this funny at all, but we have to admit that you were asking for it by looking exactly like Mr. Bean!</div>
</div>  
<div> &nbsp;</div>